:root {
  /* fonts */
  --main-font: Roboto, sans-serif;
  /* text colors */
  --primery-text-color: #212121;
  --secondary-text-color: #757575;
  --decoration-color: #2196f3;
  --decoration2-color: #ffffff;
  --decoration3-color: rgba(255, 255, 255, 0.6);
  /* bg colors  */
  --header-color: #ffffff;
  --footer-color: #2f303a;
  --btn-bckg-color: #f5f4fa;
  --btn-bckg-color2: #2196f3;
}
body {
  font-family: var(--main-font);
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}
/* reset */
.link {
  text-decoration: none;
  color: currentColor;
}
.list {
  list-style: none;
}
/* Header style */
.header {
  background-color: var(--decoration2-color);
}
.header-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--decoration-color);
}
.change {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--primery-text-color);
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
}
.header-link-blue {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--decoration-color);
}
/*Main-webstudio*/
/*Hero*/
.hero {
  background-color: var(--footer-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--decoration2-color);
}
.hero-btn {
  background-color: var(--btn-bckg-color2);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--decoration2-color);
}
/*Specialties*/
.specialties {
  background-color: var(--header-color);
}
.specialties-item-title {
  font-weight: 700;
  line-height: calc(16 / 14);
  text-transform: uppercase;
}
.specialties-item-text {
  font-weight: 400;
  line-height: calc(24 / 14);
  color: var(--secondary-text-color);
}
/*Our work*/
.work {
  background-color: var(--header-color);
}
.work-item {
  mix-blend-mode: normal;
}
/*Our team*/
.team {
  background-color: var(--btn-bckg-color);
}
.team-item {
  background-color: var(--header-color);
}
.team-title-n {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  color: var(--secondary-text-color);
}
/*Main-btn*/
.portfolio {
  background-color: var(--decoration2-color);
}
.btn {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  color: var(--primery-text);
  background-color: var(--btn-bckg-color);
  border-radius: 4px;
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  background-color: #2196f3;
}

/*Main-img*/
.portfolio-title-p {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--primery-text-color);
}
.portfolio-text-p {
  font-size: 16px;
  line-height: calc(30 / 16);
  color: var(--secondary-text-color);
}
.portfolio-item-p {
  background-color: var(--header-color);
}
/*Footer*/
.footer {
  background-color: var(--footer-color);
}
.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: #2196f3;
}
.change-footer {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--decoration2-color);
}
.footer-link-gl {
  font-family: var(--main-font);
  font-weight: 400;
  font-style: normal;
  line-height: calc(24 / 14);
  color: var(--decoration2-color);
}
.footer-link {
  font-weight: 400;
  font-style: normal;
  line-height: calc(24 / 14);
  color: var(--decoration3-color);
}
.footer-link:hover,
.footer-link:focus,
.header-link:hover,
.header-link:focus,
.header-link-blue:hover,
.header-link-blue:focus {
  color: #2196f3;
}
